!!!5
%html
  %head
    %title VM
    %script(src="js/jquery-1.6.4.min.js")
    %script(src="js/jquery.mobile-1.0rc1.min.js")
    %script(src="js/geo.min.js")
    %link(href="css/jquery.mobile-1.0rc1.min.css" rel="stylesheet" type="text/css")
    %meta(name="viewport" content="width=device-width initial-scale=1")
  %body
    %div(data-role="page" id="main")
      %div(data-role="header")
        %h1 Game changer in the world of VMs

      %div(data-role="content")
        %button(data-role="button" data-icon="plus")Add a VM

      %div(data-role="footer")
        %h4
